<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Ndlovu Drone Shop</title>
</head>
<body>
<a href="/about" class="btn btn-primary">About Us</a>
<div class="container">
    <div class="header">
        <h1>Ndlovu Drone Shop</h1>
    </div>
    <hr>
    <section>
        <div class="search-1">
            <h2>Accessories</h2>

            <form th:action="@{/mainscreen}">
                Filter: <input type="text" name="partkeyword" id="partkeyword" size="50" th:value="${partkeyword}" required />
                <input type="submit" value="Search" />
                <input type="button" value="Clear" id="btnClearPart" onclick="clearSearch()" />
            </form>

            <br><br>
            <a th:href="@{/showFormAddInPart}" class="btn btn-primary btn-sm mb-3">Add Inhouse Part</a>
            <a th:href="@{/showFormAddOutPart}" class="btn btn-primary btn-sm mb-3">Add Outsourced Part</a>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Inventory</th>
                    <th>Minimum Inventory</th>
                    <th>Maximum Inventory</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tempPart : ${parts}">
                    <td th:text="${tempPart.name}">1</td>
                    <td th:text="${tempPart.price}">1</td>
                    <td th:text="${tempPart.inv}">1</td>
                    <td th:text="${tempPart.minInv}">1</td>
                    <td th:text="${tempPart.maxInv}">1</td>
                    <td>
                        <a th:href="@{/showPartFormForUpdate(partID=${tempPart.id})}" class="btn btn-primary btn-sm d-inline-block">Update</a>
                        <a th:href="@{/deletepart(partID=${tempPart.id})}" class="btn btn-primary btn-sm d-inline-block ms-2"
                           onclick="return confirm('Are you sure you want to delete this part?')">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="search-2">
            <h2>Consoles</h2>

            <form th:action="@{/mainscreen}">
                Filter: <input type="text" name="productkeyword" id="productkeyword" size="50" th:value="${productkeyword}" required />
                <input type="submit" value="Search" />
                <input type="button" value="Clear" id="btnClearProduct" onclick="clearSearch()" />
            </form>

            <br><br>
            <a th:href="@{/showFormAddProduct}" class="btn btn-primary btn-sm mb-3">Add Product</a>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Inventory</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tempProduct : ${products}">
                    <td th:text="${tempProduct.name}">1</td>
                    <td th:text="${tempProduct.price}">1</td>
                    <td th:text="${tempProduct.inv}">1</td>
                    <td>
                        <a th:href="@{/showProductFormForUpdate(productID=${tempProduct.id})}" class="btn btn-primary btn-sm d-inline-block">Update</a>
                        <a th:href="@{/deleteproduct(productID=${tempProduct.id})}" class="btn btn-primary btn-sm d-inline-block ms-2"
                           onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                        <div class="d-inline-block ms-2">
                            <form th:action="@{/buyProduct}" method="post" class="d-inline">
                                <input type="hidden" th:name="productID" th:value="${tempProduct.id}" />
                                <button type="submit" class="btn btn-primary btn-sm">Buy Now</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>

</body>
</html>
